#map {
    width : 70vw;       /* viewport width */
    height : 100vh;     /* viewport height */
    margin : 0;
    padding : 0;
    float : right;      /* 지도 오른쪽으로 배치, flexbox를 이용해도 오른쪽으로 배치 가능 */
}

html, body {
    height : 100%;
    margin : 0;
    padding : 0;
}