* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    overflow: hidden; /* 스크롤바 제거 */
}

.container {
    width: 100%;
    max-width: 400px; /* 기존 크기 유지 */
    padding: 40px; /* 패딩을 늘려 바깥 테두리와 여유 있게 띄움 */
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

.light-horizontal-line {
    border-top: 1px solid lightgray;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
}

h2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 20px !important;
}

.error-message {
    color: red; /* 오류 메시지 색상 */
    font-size: 12px; /* 텍스트 크기 */
    margin-top: 5px; /* 입력 박스와 메시지 사이 간격 */
    display: none; /* 기본적으로 숨김 */
}

.agreement {
    display: flex;
    align-items: center;
}

.agreement input {
    margin-right: 10px;
}

.btn {
    width: 100%;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }
}
